*{
    padding: 0px;
    margin: 0px;
    font-family: 'Mate SC', serif;
}

body{
    background-color: #556B2F;
}

.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25% ;
    height: 1000px;
}

.svenchik{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row:  1;
    
}
.Agility{
    grid-column-start: -1;
    grid-column-end: 2;
    grid-row: 2;
    margin-left: 5em;
    
}
.Intelligence{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row:3;
}
ul.sven{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;

}
img{
   width: 80%; 
}