*{
    padding: 0px;
    margin: 0px;
    font-family: 'Mate SC', serif;
}

body{
    background-color: #556B2F;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

.sven{
    grid-column-start: 1;
}
.text_sven{
    grid-column-start: 2;
    grid-row: 1;
}
.ursa{
    grid-column-start: 2;
    grid-row: 2;
}

.kunka{
     grid-column-start: 1;
     grid-row: 3;

}

img{
    width: 80%;
}