{% extends 'polls/base.html'%}
{% load static %}	
{%block base%}

{% block title%}
Home
{% endblock %}
<article class="row">
	<div class="col col-md-12">
		<img src="{% static 'images/dragon.jpg' %}" alt="Pic 1" class="img-thumbnail img-responsive img_left">
		<h3>Introduction</h3> 
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laudantium optio, commodi beatae et labore sit nobis tempora error est aut incidunt recusandae eum, assumenda impedit? Perferendis alias sed quisquam earum perspiciatis voluptatum fugiat ea accusantium iste ipsa officia error aliquam natus nisi veritatis a commodi qui reprehenderit, quidem voluptate.</p>
	</p>
		<p><a href="#" class="btn btn-primary" role="button">View More</a></p>
	</div>								            
</article>
<article class="row">
	<div class="col col-md-12">
		<img src="{% static 'images/jugger.jpg' %}" alt="Pic 2" class="img-thumbnail img-responsive img_left">
		<h3>Sighseeing</h3>
		<p>In orci tellus, tempor vel neque at, pulvinar dignissim quam. Suspendisse tempus, tortor sed ullamcorper elementum, 
			sapien velit viverra ante, at laoreet mauris sapien tempus quam. Nulla fermentum sapien sapien, ac tincidunt neque 
			suscipit id. Vivamus erat purus, iaculis sit amet velit rhoncus, viverra imperdiet.
		</p>
		<p><a href="#" class="btn btn-primary" role="button">View More</a></p>
	</div>							
</article>	
<article class="row">
	<div class="col col-md-12">
		<img src="{% static 'images/invoker.jpg' %}" alt="Pic 3" class="img-thumbnail img-responsive img_left">
		<h3>Reservations</h3>
		<p>Donec iaculis non augue sit amet vulputate. Maecenas porta, nisi ac ornare gravida, nulla metus condimentum lorem, in 
			placerat massa erat at eros. Quisque tristique odio in mattis tincidunt. Etiam ac justo ac arcu gravida cursus id eu 
			velit. Duis tincidunt nec elit non porttitor.</p>
		<p><a href="#" class="btn btn-primary" role="button">View More</a></p>
	</div>			            
</article>                					
{% endblock %}